<%-include('../includes/nav.ejs')%>

<main>
  <form action="/new-password" method="POST">
   <% if (errorMassage) { %>
    <div class="error-message"><%= errorMassage %></div>
    <% } %>
    <div>
      <label class="lb" for="password">password</label>
      <input class="ip" type="password" name="password" id="password" />
    </div>
    <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
    <input type="hidden" name="id" value="<%=userId%>" />
    <button type="submit">Reset</button>
  </form>
</main>
<%-include('../includes/end.ejs')%>
